{% load static %}
{% include 'base.html' %}

{% block content %}
    <section class="vh-100 gradient-custom-2">
        <div class="container justify-content-center py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-7 col-xl-5">
    
            <div class="card mask-custom rounded-5">
                <div class="card-body p-4 text-white gradient-custom-2 shadow-lg rounded-5">
                    {% include 'messages.html' %}
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-row">
                          <div class="form-group col-md-12">
                            <label for="inputTodo">Todo</label>
                            <input type="text" class="form-control" id="inputTodo" name="inputTodo" placeholder="Description">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-12">
                            <label for="inputPriority">State</label>
                            <select id="inputPriority" name="inputPriority" class="form-control">
                              <option selected disabled>Priority</option>
                              <option value="High Priority">High Priority</option>
                              <option value="Medium Priority">Medium Priority</option>
                              <option value="Low Priority">Low Priority</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group mt-2">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Completed
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                </div>
            </div>
    
            </div>
        </div>
        </div>
    </section>

{% endblock %}
